
@{
    ViewData["Title"] = "Product Async";
}

<div class="container">
    @*  @await Component.InvokeAsync("CategoryList")*@
    <vc:category-list tool-tip="navbar"></vc:category-list>
</div>

<hr />

<div class="container pt-5">
    <div class="row">
        <div class="col-3">
            <div class="card">
                <div class="card-header text-center">
                    <h3 id="title">Add Product</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label class="form-label">CategoryId</label>
                            <vc:category-list tool-tip="comboBox"></vc:category-list>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">ProductName</label>
                            <input type="text" id="productName" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">UnitPrice</label>
                            <input type="number" id="unitPrice" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label class="form-label">UnitsInStock</label>
                            <input type="number" id="unitsInStock" class="form-control">
                        </div>
                        <div class="mb-3">
                            <div class="d-grid gap-2">
                                <button id="AddOrUpdateButton" onclick="AddProduct()" type="button" class="btn btn-primary">Add Product</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="info" class="card-footer">

                </div>
            </div>
        </div>
        <div id="productTable" class="col-9">
      
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            GetProductTable();
        });

        function GetProductTable() {
            $.ajax(
                {
                    url: "/ProductAsync/GetProductPartial",
                    type: "GET"
                }
            ).done(function (partialView) {
                $('#productTable').html(partialView);
            }).fail(function (jqXHR, textStatus) {

            });
        }

        function GetProductTableByCategory(id) {
            $.ajax(
                {
                    url: "/ProductAsync/GetProductByCategoryPartial/" + id,
                    type: "GET"
                }
            ).done(function (partialView) {
                $('#productTable').html(partialView);
            });
        }

        function AddProduct() {
            var product =
            {
                "categoryId": $("#categoryId").val(),
                "productName":$('#productName').val(),
                "unitPrice": $('#unitPrice').val(),
                "unitsInStock": $('#unitsInStock').val(),
            };

            $.ajax(
                {
                    url: "/ProductAsync/AddData",
                    type: "POST",
                    data: product
                }
            ).done(function (message) {
                if (message == "Kayıt Başarılı") {
                    $('#info').html('<div class="alert alert-success">' + message + '</div>');
                } else {
                    $('#info').html('<div class="alert alert-danger">' + message + '</div>');
                }
                GetProductTableByCategory(product.categoryId)
            });
        }

        function ChangeFormForAdd() {
            $('#categoryId').val(1);
            $('#productName').val('');
            $('#unitPrice').val('');
            $('#unitsInStock').val('');
            $('#title').text('Add Product'),
            $('#AddOrUpdateButton').text('Add Product').attr('data-id', 0);
        }


        function ChangeFormForUpdate(id) {
            $.ajax(
                {
                    url: '/ProductAsync/GetProductByProductId/' + id,
                    type: 'GET'
                }
            ).done(function (data) {
                $('#categoryId').val(data.categoryId);
                $('#productName').val(data.productName);
                $('#unitPrice').val(data.unitPrice);
                $('#unitsInStock').val(data.unitsInStock);
                $('#title').text('Update Product');
                $('#AddOrUpdateButton').text('Update Product').attr('data-id', id);
            });


           
        }

    </script>
}